<div class="titleBreak">
	<h2 id="searchTitle">Search</h2>
</div>
<div class="adv_search">
	<br>
	<span id="adv_heading">Advanced Search!</span>
	<br>
	<input id="adv_title" placeholder = "Title">
	<br>
	<input id="adv_author" placeholder="Author">
	<br>
	<input id="adv_classes" placeholder="Classes (comma-separated)">
	<br>
	<input id="adv_publisher" placeholder="Publisher"><br>
	<select id="adv_type"><option value="all">Type</option></select>
	<select id="adv_media"><option value="all">Media</option></select>
	<select id="adv_format"><option value="all">Format</option></select>
	<br>
	<button id="adv_submit">Submit!</button>
</div>
<table width="100%" max-width="100%" id="advanced_search" class="advanced_search">
	<thead>
		<tr>
			<th>Source / Date / Author</th> <!--hidden column header !-->
			<th class="table_edition">Source / Date / Author</th> <!--edition !-->
			<th>Peers</th>
			<th>Snatches</th>
			<th>Time</th>
			<th class="none torrents"></th> <!-- hidden responsive + !-->
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>