<div class="atlsd">
	<div class="titleBreak">
		<h2>Purchase Your AtlantisCoin!</h2>
	</div>
	<p>We are minting 25,000 AtlantisCoin per dollar. Enter the amount in USD of the Ethereum you would like to trade in Metamask, and within minutes of receiving your transfer, we will mint AtlantisCoin to your wallet address. Make sure to enter a valid ETH address, preferably using Metamask. Once I will add liquidity in Uniswap once investments come in. We have plans, though I do not promise this, to add a BitTorrent Oracle to the contract in the future, which will distribute $ALTANTIS based on torrents seeding and uploaded. We will not take any royalties from self-published works using AtlantisCoin. The ICO will be such that an investment of 1,000$ nets you .7% of the initial supply of $ATLANTIS.
	<br><br><br>
	<input id="atlsd_amount" placeholder="Your Investment (USD)"><br><br>
	<input id="atlsd_address" placeholder="$ATLANTIS-compatible ETH address"><br><br>
	<button id="atlsd_submit">Invest with us!</button>
</div>