<div class="titleBreak">
	<h2 id="classTitle">New Class</h2>
	<div class="add_source">
		<input placeholder="Source uuid" id="source_uuid">
		<button id="add_source">Add Source</button>
	</div>
</div>
<div class="download_all">
	<button id="download_class">Download Page</button>
</div>
<button id="recommend_class" class="recommend">Recommendation!</button>
<script>
	$("#add_source").click(function(){
		$("#add_source").attr("disabled", "disabled");
		$.post("/add_source/" + ANCHOR.getParams().uuid, {source_uuid : $("#source_uuid").val()}, function(data){
			$("#add_source").removeAttr("disabled");
			$("#source_uuid").val("")
			ANCHOR.route("#class?uuid=" + ANCHOR.getParams().uuid);
		})
	})
</script>
<table width="100%" id="class">
	<thead>
		<tr>
			<th>Source / Date / Author</th> <!--hidden column header !-->
			<th>APA Citation</th> <!--edition !-->
			<th>Snatches</th>
			<th>Time</th>
			<th class="none torrents"></th> <!-- hidden responsive + !-->
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>