<img src="https://cdn.glitch.global/ae615eaa-fa44-4c56-8e49-a21afe3e2c54/stupa-2.png?v=1727645628581" id="stupa">

<div class="mobile_title">
  <img src="https://cdn.glitch.global/ae615eaa-fa44-4c56-8e49-a21afe3e2c54/stupa-2.png?v=1727645628581" id="stupa">
    
	<a href="#" id="mobile_menu">≡</a>
	<h1 class="mobile_h1"><a class="ANCHOR home" href="#home">propagate.info</a></h1>
	<span id="LOGOS">When the Master rules, the people are hardly aware that He exists!</span>
</div>
	<h1 class="desktop_h1"><a class="ANCHOR home" href="#home">propagate.info</a></h1>
	<span id="LOGOS">When the Master rules, the people are hardly aware that He exists!</span>


<div class="mobile_menu">
	<!--<div class="buoy_div mobile_buoy_div">
		
	</div>!-->
	<div class="search">
		<ul id="search_ul"> 
			<li class="search_sources"><input class="searchField search_sources_input" placeholder="Sources"><ul class="autosuggestBox"></ul></li>
			<li class="search_authors"><input class="searchField search_authors_input" placeholder="Authors"><ul class="autosuggestBox"></ul></li>
			<li class="search_classes"><input class="searchField search_classes_input" placeholder="Classes"><ul class="autosuggestBox"></ul></li>
			<li class="search_publisher"><input class="searchField search_publishers_input" placeholder="Publisher or Journal"><ul class="autosuggestBox"></ul></li>

		</ul>
	</div>
	<br>
	<br>
	<br>
	<ul class="mobile_tabs">
			<li><a href="#torrents" class="ANCHOR torrents headerTab torrentTab">Torrents</a></li>
			<li><a href="#classes" class="ANCHOR classes headerTab classesTab">Classes</a></li>
			<li><a href="#world_spirit" class="ANCHOR world_spirit headerTab worldSpiritTab">Forum</a></li>
			<li><a href="#top10" class="ANCHOR top10 headerTab top10Tab">Top 10</a></li>
			<li><a href="#publisher?publisher=propagate.info" class="ANCHOR publisher vanityHouseTab">Self-Publishing</a></li>
			<li><a href="#graph" class="ANCHOR graph headerTab graphTab">Graph Search</a></li>
	</ul><br>
	<ul class="mobile_panel">
		<li class="health"><span>&darr;&nbsp;</span><a class="stat_downloaded"></a><span>&nbsp;&nbsp;&nbsp;&uarr;</span><a class="stat_uploaded"></a><span>&nbsp;&nbsp;&nbsp;Ratio:&nbsp;</span><a class="stat_ratio"></a>
		</li>
		<li class="user_li"><a class="ANCHOR user user_profile" href="#user">Profile</a></li>
		<li class="logout_li"><a class="logout" href="#">Logout</a></li>
		<li class="upload_li"><a href="#upload" class="ANCHOR upload upload_panel">Upload!!</a></li>
		<li class="login_li"><a href="#login" class="ANCHOR login">Login</a></li>
		<li class="reg_li"><a href="#register" class="ANCHOR register">Register</a></li>		
		<li class="mgr_li"><a class="ANCHOR file_manager" href="#mgr">Seed Folder!!</a></li>
	</ul>
</div>


<!--<div class="buoy_div">
	<select class="buoy_select">
	</select>
</div>!-->
<script>
	setH1();
	
</script>
<div class="panel">
	<ul>
		<script>
			$(document).ready(function () {
			    $(".logout").click(function(e){
					e.preventDefault();
					logout();
				})
				
				$(".user_profile").click(function(e){
					e.preventDefault();
					ANCHOR.route("#user?buoy="+ getBuoy().uuid + "&uuid=" + user.uuid)
				})
				
				setPanel();
				
			});
			

		
		</script>
		<li class="health" id="desktop_health"><span>&darr;&nbsp;</span><a class="stat_downloaded"></a><span>&nbsp;&nbsp;&nbsp;&uarr;</span><a class="stat_uploaded"></a><span>&nbsp;&nbsp;&nbsp;Ratio:&nbsp;</span><a class="stat_ratio"></a></li>
		<li class="user_li"><a class="user_profile" href="#user">Profile</a></li>
		<li class="logout_li"><a class="logout" href="#">Logout</a></li>
		<li class="upload_li"><a href="#upload" class="ANCHOR upload upload_panel">Upload!!</a></li>
		<li class="login_li"><a href="#login" class="ANCHOR login">Login</a></li>
		<li class="reg_li"><a href="#register" class="ANCHOR register">Register</a></li>
		
		<li class="mgr_li"><a id="mgr" class="ANCHOR file_manager" href="#mgr">Seed Folder!</a></li>
		

	</ul>
</div>
<div class="tabs">
	<ul>
		<li><a href="#torrents" class="ANCHOR torrents headerTab torrentTab">Torrents</a></li>
		<li><a href="#classes" class="ANCHOR classes headerTab classesTab">Classes</a></li>
		<li><a href="#top10" class="ANCHOR top10 headerTab top10Tab">Top 10</a></li>
		<li><a href="#publisher?publisher=propagate.info" class="ANCHOR publisher vanityHouseTab">Self-Publishing</a></li>
		<li><a href="#world_spirit" class="ANCHOR world_spirit headerTab worldSpiritTab">Forum</a></li>
		<li><a href="#graph" class="ANCHOR graph headerTab graphTab">Graph Search</a></li>
		
	</ul>
	<script>
		setTabs();
		
	</script>
</div>

<div class="search desktop_search">
	<ul id="search_ul"> 
		<li class="search_sources"><input class="searchField search_sources_input" placeholder="Sources"><ul class="autosuggestBox"></ul></li>
		<li class="search_authors"><input class="searchField search_authors_input" placeholder="Authors"><ul class="autosuggestBox"></ul></li>
		<li class="search_classes"><input class="searchField search_classes_input" placeholder="Classes"><ul class="autosuggestBox"></ul></li>
		<li class="search_publisher"><input class="searchField search_publishers_input" placeholder="Publisher or Journal"><ul class="autosuggestBox"></ul></li>
	</ul>
</div>