<a id="buoy_preferences" href="#">Preferences</a>
<h2 class="titleBreak">Donate</h2>
<input class="donation"><button id="submit_donation">Say Thank You!!!</button>
<div class="titleBreak">
  <h2>
    Welcome to Salomon's Hope!!!
  </h2>
  <p id="about_us">
    The name propagate.info comes from the Catholic Society for the Propagation of the Faith, but this site is All-American in its Establishment. Here we propagate all freely available information, religious or secular, for the sake of a more free and just society! The inspiration for this idea comes from my time doing philosophy and psychology research at Cornell.<br><br>
    The code is free and open source, so anyone can make their own BitTorrent site using my code. The Github Repo for this project is <a href="https://github.com/patrokles/AtlantisLib">github.com/patrokles/AtlantisLib</a>. This is legal, just as inventing a Torrent Client or Tracker is legal, as the intention behind the code is to facilitate Democratic education thru Open Source Civil Society.<br><br>
    As Lawrence Lessig said, code is like architecture (and this site is free, as in freedom). Architecture narrows the scope of what is possible but also opens up new possibilities for navigation. In designing this code, which is based on What.CD's Gazelle, I have endeavored to make the most free architecture possible.<br><br>
    This is a Web3.0 Torrent Site, which allows torrents to be downloaded in the Browser, and payments to be processed via Chainlink. The ontology combines the best of Capitalism and Civil Society, allowing for not only public domain but also copyrighted works to be uploaded (legally) by the copyright holder, and no royalties are taken, while the copyright holder makes a profit.<br><br>
    Thus propagate.info has a self-publishing advantage over Amazon KDP, and begets an incentive for copyright holders and publsihing companies to publish their own works here. To get your torrent to show up under the Self-Publishing Tab, simply publish a torrent with "propagate.info" as your publisher, and check the "Sell for LINK" box if you are going for-profit.<br><br>
    In Ancient Greece, some scholars say the Athenian public square, in our terms its architecture, was the catalyst for the birth of Democracy. Thus architecture, including open source programming coded thru Civil Society, fashions scientific, ethical, and political paradigm shifts.<br><br>
    The architecture of Facebook and Twitter are for-profit, so they narrow the scope of what can be achieved thru the Democratic Discourse of Civil Society. This code in its origin and invention, and finality follows an ontology that is free and open, made for the sake of education and the flourishing of Democracy, as a Library should be.<br><br>
    While Facebook architecture stifles Democratic Discourse, this Library is intended to empower Free and Democractic Speech as a sort of "Atlantean Public Square." The only user data we store are your user uploads and forum posts (downloads are not stored), and uploads are displayed to other users only if you uncheck the Paranoia box.<br><br>
    Sites like archive.org and Project Gutenberg already have freely available public domain media, but archive.org doesn't have a robust tag system, and Project Gutenberg, while it is a great and lasting project, hosts your files on a centralized server.<br><br>
    The Neo4J graph database allows for a robust Class system with multiple editions listed under the Sources they correspond to, and multiple torrents, for example, an ebook and an audiobook, listed under the same translation. We also have a robust graph search system, which works in VR. The use of BitTorrent puts the power of information into the hands of the people, so that everyone owns their own files in the public domain.<br><br>
    This code is meant to foster research into science, politics, literary theory, and especially ethics. Join us in making the New Library of the Atlantis a public square for public learning, so that the whole Society learns to flourish! Salomon's Hope.
  </p>
  <br><br><br>
  <p id="home">***** DMCA COMPLAINTS, FEATURE REQUESTS, BUGS, FORUM REPORTS: <a href="mailto:inevitableambrosia@gmail.com">inevitableambrosia@gmail.com</a> ******</p>
  
</div>
<div id="buoy_break" class="titleBreak">
	<h2>Stats</h2>
</div>
<div class="buoy_stats">
  <span class="stat">Torrents: </span><span class="stat_text" id="stats_torrents"></span><br><br>
  <span class="stat">Classes: </span><span id="stats_classes" class="stat_text"></span><br><br>
  <span class="stat">Authors: </span><span class="stat_text" id="stats_authors"></span><br><br>
  <span class="stat">Users: </span><span id="stats_users" class="stat_text"></span><br><br>
  <span class="stat">Snatches: </span><span id="stats_snatches" class="stat_text"></span><br><br>
  <span class="stat">Featured Torrent: </span><span id="stats_featured" class="stat_text"></span>
</div>
<br><br><br>
<div class="titleBreak">
  <h2>
    Bulletins
  </h2>
</div>
<div class="buoy_bulletins">
<script>
	$("#buoy_preferences").attr("href", "#edit_buoy");
	$("#buoy_preferences").addClass("ANCHOR");
	$("#buoy_preferences").addClass("edit_buoy");
	ANCHOR.buffer();
	$("#invite_button").hide();
	$("#edit_buoy_textarea").hide();
	$("#submit_buoy_textarea").hide();
	$("#ranks").hide();
	$("#invite_input").hide();
	$("#edit_buoy_description").hide();

	$("#invite_button").click(function(){
		var that = this;
		$(that).prop("disabled",true)
		$.post("/invite/" + $("#invite_input").val(), function(data){
			if(data.errors){
				ANCHOR.route("#401");
			}
			$(that).prop('disabled', false)
			$("#invite_input").val("")
		})
	})



	$("#edit_ranks").click(function(e){
		e.preventDefault();
		$("#ranks").fadeToggle();
	})

	$("#invite").click(function(e){
		e.preventDefault();
		$("#invite_input").fadeToggle()
	})

	$("#edit_buoy_description").click(function(e){
		e.preventDefault();
		$("#edit_buoy_textarea").fadeToggle();
		$("#buoy_description").fadeToggle();
		$("#submit_buoy_textarea").fadeToggle();

	})

	function decodeEntities(input) {
	  var y = document.createElement('textarea');
	  y.innerHTML = input;
	  return y.value;
	}

	$("#submit_buoy_textarea").click(function(){
		var that = this;
		$(this).prop("disabled", "true")
		$.post("/buoy_description", {description : $("#edit_buoy_textarea").val()}, function(data){
			$(that).prop("disabled", "false");
			$("#buoy_description").html(decodeEntities(data.buoy.description));
			$("#edit_buoy_textarea").hide();
			$("#buoy_description").show();
			$("#submit_buoy_textarea").hide();
		})
	})
</script>