<h2>Request an Invite</h2>
<span id="accepted"></span>
<p>propagate.info is a free BitTorrent indexer that uses WebTorrent in the Browser. It is also a web3 dapp that allows users to receive LINK donations for their uploads. Public domain media can be uploaded and downloaded freely without the exchange of LINK. If you have the copyrights to some media you can receive LINK payment by uploading it here.</p>
<p>Users can create private or public BitTorrent indexers on the site called buoys for any sort of media type, such as movies, music, videogames, software, and more. There is a rank system which hands out invites based on user uploads.</p>
<p>This site will revolutionize the way we do academic research and will serve as a source of public domain media which puts the information in the hands of the users, thru BitTorrent's P2P file sharing, rather than in the hands of one centralized organization, non-profit or not.</p>
<p>Let freedom ring and join us in assembling this pristine public library for freely available (and premium, using LINK) media, what is the Library of the New Atlantis!</p><br><br><br>
<span id="to_request">**** TO REQUEST AN INVITE, FIRST <a href="#" class="ANCHOR register" id="request_register">REGISTER AN ACCOUNT</a> ****</span><br>
<br>
<textarea id="why_join" placeholder="Why do you want to join the Library of the New Atlantis?"></textarea>
<br>
<textarea id="request_bittorrent" placeholder = "What experience do you have using BitTorrent? Are you able to seed to Browsers using BiglyBT's WebTorrent plugin or WebTorrent Desktop equivalent?"></textarea>
<br>
<span id="request_success"></span><br>
<button id="request_invite_submit">Request Invite!</button>

