<style>
  
</style>
<div id="hero">
  <!-- Statistics -->
  <div id="status">
    <div>
      <span class="show-leech">Downloading </span>
      <span class="show-seed">Seeding </span>
      <code>
        <!-- Informative link to the torrent file -->
      </code>
      <span class="show-leech"> from </span>
      <span class="show-seed"> to </span>
      <code id="numPeers">0 peers</code>.
    </div>
    <div class="torrentFile"></div>
    <div>
      <code id="downloaded"></code>
      of <code id="total"></code>
      — <span id="remaining"></span><br/>
      &#x2198;<code id="downloadSpeed">0 b/s</code>
      / &#x2197;<code id="uploadSpeed">0 b/s</code>
    </div>
  </div>
  <div id="output">
    <div id="progressBar"></div>
    <br>
    <!-- The video player will be added here -->
  </div>
  <br><br><br>
</div>
<br><br>
<div id="links">
</div>
<!-- Include the latest version of WebTorrent -->

<!-- Moment is used to show a human-readable remaining time -->
