<div class="titleBreak">
	<h2 id="userUploadsTitle">User Uploads</h2>
</div>
<div class="download_all">
	<button id="download_uploads">Download Page</button>
</div>
<button id="recommend_uploads" class="recommend">Recommendation!</button>
<table width="100%" id="user_uploads">
	<thead>
		<tr>
			<th>Source / Date / Author</th> <!--hidden column header !-->
			<th>APA Citation</th> <!--edition !-->
			<th>Snatches</th>
			<th>Time</th>
			<th class="none torrents"></th> <!-- hidden responsive + !-->
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>