<h2 id="worldSpiritHeader">Forum</h2>
<br><br>
<button id="fresh_aphorism">New Aphorism!</button>
<svg id="worldSpirit">
</svg>
<div id="overWorld">
	<button id="close_overworld">X</button>
	<div id="oldOverWorld">
		<h3 id="aphorism_title"></h3>
		<span id="aphorism_user_dialectic" class="user_dialectic"></span><br><br>
		<span id="aphorism_classes"></span>
		<button id="new_aphorism" class="aphorism">Progress Dialectic</button><br><br>
		<p id="aphorism_text"></p>
	</div>
	<div id="newOverWorld">
		<h3>New Aphorism<span id="dialectic_target"></span></h3>
		<br><br><br>
		<select id="dialectic_select">
		</select>
		<br>
		<br>
		<input id="dialectic_title" placeholder="Aphorism Title"><br><br>
		<input name="dialectic_classes" class="searchField search_dialectic_classes_input" id="dialectic_classes_input" placeholder="Classes, comma separated"><ul class="autosuggestBox"></ul><br><br>
		<textarea id="dialectic_text" placeholder = "Aphorism"></textarea><br><br>
		<span id="cite_source_span">Cite Source</span><br>
		<input id="dialectic_sources" class="dialectic_input" placeholder= "Torrent infoHash"><input id="cite_pages" placeholder="pages"><button id="cite">Add Citation</button><br><br>
		<ul class="dialectic_citations">
		</ul><br><br>
		<button id="dialectic_submit">Submit</button>
	</div>
</div>