/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	backgrond-color: goldenrod;
	color: #2f2f2f;
	font-family: "Cairo", serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
	height: 100%;
}
body {
	line-height: 1;
	height: 100%;
	table-layout: fixed;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*#torrents_wrapper{
	height: 100%;
}*/

#upload_inst{
	font-size:20px;
	font-family:"Poppins", sans-serif;
	color:coral;
	display:block;
	width:1164px;
}

.social{
  padding-left:8px;
}


.time_i_am{
	font-size:24px;
	padding:42px;
	text-align:center;
	color:mediumvioletred;
	font-family: "Pirata One", sans-serif;
}


#propagate_publisher{
	font-size:24px;
	padding:42px;
	padding-left:8px;
	padding-top:0px;
	color:lightseagreen;
	font-family: "Pirata One", sans-serif;

}

.buoy_stats{
  padding-left:8px;
}

#torrents_wrapper{
}

/* GRAPH */

#graph{
	position: fixed;
	bottom:0;

	left: 0;
	right: 0;

	width: 100%;
	z-index: 998;
}

/* BUOY */

.bulletin_text{
	width:300px;
	height:300px;
}

.buoy_select{
	height: 19px;
	margin-left: 0px;
}

.buoy_textarea{
	width: 100%;
	height: 600px;
}

.buoy_panel li{
	padding: 0px 7px 0px 0px;
}

#buoy_title{
	text-align:left;
}

.indent{
	padding-left: 17px;
}

#buoy_break{
	/*padding: 0 12px 0 12px;*/
}

.buoy_bulletins{
}

.buoy_bulletins h3{
	padding-top:33px;
	padding-bottom:13px;
	text-align:left;
}

.buoy_bulletins p{
	padding-top:13px;
	font-family:"Poppins", sans-serif;
}

/* TORRENT */

#progressBar {
   height: 5px;
   width: 0%;
   background-color: #35b44f;
   transition: width .4s ease-in-out;
}

body.is-seed .show-seed {
   display: inline;
}

body.is-seed .show-leech {
   display: none;
}

.show-seed {
   display: none;
}

#status code {
   font-size: 90%;
   font-weight: 700;
   margin-left: 3px;
   margin-right: 3px;
   border-bottom: 1px dashed rgba(255,255,255,0.3);
}

#output object{
  	width: 100%;
	min-height: 100vh;
	
	/*top: 0;
	bottom: 0;*/
}

.is-seed #hero {
   background-color: #154820;
   transition: .5s .5s background-color ease-in-out;
}

#hero {
   background-color: #2a3749;
}

#status {
   color: #fff;
   font-size: 17px;
   padding: 5px;
}

#hero a:link, #hero a:visited {
   color: cyan;
   text-decoration: none;
}

/* UPLOAD */

.titleBreak{
	/*background-color:#f7f6e6;
 	background-color:#fae1ec;
 	background-color:silver;*/
	padding-top:24px;
	padding-bottom:24px;
 	/*box-shadow:4px 5px 4px lightgoldenrodyellow;*/

}

#contribution{
	font-weight:bold;
	font-size:32px;
	padding-top:23px;
	font-family:"Pirata One", sans-serif;
	color:lightseagreen;
	padding-bottom:32px;

}


.upload form{
	padding-top:13px;
	padding-left:8px;
	width:999px;
}

.manageTorrents{
	font-weight: bold;
}

form{
	padding: 15px 0px 0px 0px;
}

label{
	font-size: 11px;
}

.grid_0{
	width: 125px;
	float: left;
}

h3{
	padding-top:13px;
	width:calc(100% - 100px);
}

.grid_1{
	width: 888px;
	float: left;
}

#DMCA li{
	display: block;
	float: left;
	clear: left;
}

#submit{
	width:200px;
	height:60px;
	margin-top:37px;
	margin-bottom:55px;
}

#source_spirit{
	height:600px;
	width:100%;
	margin-top:37px;
}

.grid_1 input:not(.copyright){
	height:25px;
	font-size:16px;
}

.upload input:not(#edition_check, #payment, #payWhatYouWant, #copyrighted, #public_domain){
	width:  300px;
}

#disclaimer{
	padding-left:8px;
	padding-top:0px;
	padding-bottom:20px;
	font-size:26px;
	font-weight:italics;
	color:palevioletred;
}

/* MISC PARTIALS */
/*

::-webkit-input-placeholder {
  font-family: 'Imperial Script', Arial, Helvetica, sans-serif;
}

:-ms-input-placeholder {
  font-family: 'Imperial Script', Arial, Helvetica, sans-serif;
}

:-moz-placeholder {
  font-family: 'Imperial Script', Arial, Helvetica, sans-serif;
}

::-moz-placeholder {
  font-family: 'Imperial Script', Arial, Helvetica, sans-serif;
}*/

.dataTables_length{
	background-color: #FEFEFE;
	color:black;
}

.ANCHOR_partial{
  	overflow-y: auto;
  	color:black;
  	overflow-x: hidden;
  	width: 100%;
  	height: calc(100% - 173px);
  	position: absolute;
  	box-sizing: border-box;
  	top: 173px;
  	bottom: 0px;
	background-color: #FEFEFE;
	/*padding: 12px 8px 6px 8px;*/
}

input{
	font-family: "Cairo", sans-serif;
}

#add_author, #create_author{
	margin-top:13px;
	margin-bottom:16px;
}

#payout{
	width:120px;
	height:67px;
	background-color:cyan;
	box-shadow: 2px 3px 2px palevioletred;
	border-radius:5px;
	margin-left:8px;
}

h2{
	font-family: "Dancing Script", sans-serif;
	font-size: 46px;
	color: goldenrod;/*#385E5C;*/
	text-shadow:3px 2px black;/*#385E5C;*/

}

h3{
	font-variant:small-caps;
	font-size:32px;
	color:silver;
	font-family:  "Secular One", sans-serif;
	
}

.panel {
	 font-family:  "Roboto", "Playfair Display", sans-serif
}



.tabs{
	font-family:  "Secular One", "Playfair Display", sans-serif;
}

.tabs{
	font-variant: small-caps;
}


.add_source{
	margin-top: 13px;
}

header{
	height: 173px;
	width: 100%;
	/*background-color: #e6eef5;*/
	/*background-color: #413839;*/
	background-color:#3D8777;
	background-color:lightseagreen;
	background-color:#137577;
  	box-shadow: 2px 2px 3px mediumslateblue;
  	position: fixed;
  	z-index: 999;
}

h2{
	
}

#addFormat{
	width:200px;
	margin-left:8px;
}

button{
	border-radius:7px;
}

#buoy_preferences{
	padding:8px;
	color:darkgoldenrod;
}

select{
	background-color:#FEFEEF;
}

a{
	color: lightseagreen;
}

a:visited{
	color: seagreen;
}

#classes a, #classes a:visited{
	color:goldenrod;
}


.class{
	color:#fae1ec;
}

.class:visited{
	color:darkgoldenrod;

}

.tabs a, .tabs a:visited{
	color:palegoldenrod;

	text-shadow:1px 1px coral;
}

.class{
	color: violetred;
}

header a{
	color:palegoldenrod
}

.buoy_bulletins p{
	text-align:justify;
	padding-right:13px;
}

header a:visited{
	color: palegoldenrod;
}

#logo{
	position:fixed;
	top:10px;
	left:3px;
	opacity:.33;
	width:50px;
	height:48px;
}

.panel a, .panel a:visited{
	color:lightgoldenrodyellow;
		text-shadow:1px 1px goldenrod;/*#19e0e3;/*#19e0e3;*/
  font-size:17px;
  font-family:"Pirata One", sans-serif;
}

.stat{
  display:block;
  float:left;
  width:160px;
  font-family:"Poppins";
  font-size:18px;
}

.stat_text{
  font-family:"Pirata One";
  font-size:18px
  display:block;
  float:left;
}

#stats_h3{
  padding-left:0px;
}

.buoy_bulletins{
	margin-top:25px;
	padding-left:8px;
	padding-right:8px;
}

.bulletin{
	padding-top:12px;
	padding-bottom:40px;
	border-top: 3px solid palevioletred;
}

.bulletin:nth-child(even){
	background-color:#fcfce8;

}

.bulletin span{
	color:darkgoldenrod;
}

.bulletin:nth-child(odd) {
   background-color:#FFF3B4;
}

h1 a, h1 a:visited{
	color:black;
	font-family: "Pirata One", sans-serif;
	text-shadow: 1px 2px silver;
}

.donate{
	width:325px;
}

.donateInput{
	width:250px;
}

.web3:not(a.web3){
	background-color:palevioletred;
	box-shadow:2px 3px 2px lightseagreen;
	border-radius:7px;
	width:75px;
}

h1{
	float:left;
}


.login div, .register div{
	padding-left:8px;
}
.row{

}

.recommend{
	margin-left:8px;
	width:300px;
}

button{
	background-color:lightseagreen;
	background-color:#385E5C;
	padding:9px;
	border-radius:22px;
	color:lightgoldenrodyellow;
	font-size:20px;
	font-family:"Pirata One", sans-serif;
	box-shadow:3px 2px 1px darkgoldenrod;
}

.login button, .register button{
}

.sourceTitle, .sourceOptions{
	float: left;
}

h2{
	padding: 16px 0px 16px 8px;
	text-align:left;
}

.panel li{
	padding: 32px;
	font-size: 16px;
}

.headerTab{
	text-decoration: none;
}

.headerTab{
	padding: 0px 16px 0px 8px;
}

span{
	text-align: justify;
}

.desktop_title{
	float:left;
}

.mobile_title, .mobile_h1{
	display:none;
}

h1{
	font-size: 55px;
	padding: 7px 0px 7px 8px;
	position:relative;
	z-index:9999;
	top:0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	float: left;
	font-family: 'Lora', sans-serif;
  left:78px;

}

#stupa{
  padding:7px 0px 7px 8px;
  width:70px;
  position:fixed;
  left:0px;
}

body{
	background-color: #f7f6e6;
	background-color:white;
	background-color:#FBFBF6;
}

.normal{
	font-weight: normal;
}

/* TABLES */

.page-link{
	color:darkgoldenrod;
}

#classes{
	width:100%;
}

.col-md-6{
	max-width:100%;
	flex: 0 0 100%;
}

.request_invite span{
	font-family:"Pirata One", sans-serif;
	padding:8px 13px 8px 8px;
	text-align:justify;
}

.request_invite p{
	font-family:"Pirata One", sans-serif;
	padding:8px 13px 8px 8px;
	text-align:justify;
}

#to_request{
	padding-top:26px;
	padding-bottom:26px;
	font-family:"Arial";
	font-size:24px;
	color:palevioletred;
}

.request_invite textarea{
	width:308px;
	margin-left:8px;
	height:308px;
	margin-top:13px;
}

.request_invite input{
	width:308px;
	margin-top:13px;
	margin-left:8px;
}

#request_invite_submit{
	margin-left:8px;
}

#overlay {
 position: fixed;
 left: 0;
 top: 173px;
 bottom: 0px;
 height: calc(100% - 173px);
 width: 100%;
 background:lightcyan;
 /*opacity: 0.777;*/
 text-align: center;
 z-index: 2;
 filter: alpha(opacity=77);
}

#slogan{
	margin:7px;
	position:relative;
	top:11px;
	left:70px;
	font-family:"Noticia Text", sans-serif;
	color:lightgoldenrodyellow;
}

.popupImage {	
	 display:none;
	 width:191px;
	 height:191px;
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    opacity: .666;
 
}

.popupImage img{
	width:191px;
	height:191px;
}

#LOGOS{
	position:fixed;
	left:8px;
	top:78px;
	font-family:"Poppins", sans-serif;
	color:white;


	font-size:13px;
}

#settings_atlsd{
	margin-left:8px;
}

.web3:not(a.web3){
	box-shadow:1px 2px 3px goldenrod;
	border-radius:5px;
	padding:17px;
	width:99px;
	background-color:lightseagreen;
	font-family:"Pirata One", sans-serif;
}

.donateInput{
	padding:17px;
	background-color:#fae1ec;
	width:201px;
}

.web3Status, .web3Loader{
	 font-family:"Pirata One", sans-serif;
	 font-size:16px;
	 color:aquamarine;
	 text-align:center;
    width:100%;
    position:relative;
    bottom:191px;
}

.buoy_bulletins p{

}

.add_source{
	margin-left:8px;
}

#torrent_area{
	margin-top:25px;
}

#class_name{
	margin-left:8px;
}

#torrents td, {
	padding: 13px;
}

.node{
	position:fixed;
	z-index:1;
}

.sorting{
	padding:17px 0px 17px 8px;
	/*background-color:#cc70d1;*/
	background-color:lightseagreen;/*#db7093;*/
		background-color:#137577;
	font-family:"Pirata One", sans-serif;
	color:#FBFBF6;
	font-size:32px;
	box-shadow:4px 3px 3px darkgoldenrod;

}
thead tr{
	
}

.odd td, .even td{
	padding:25px;
}

#torrents_length{
	padding-top: 10px;
	width: 100%;
}

table{
	background-color:#f7f7e7;
	background-color:#fcfce8;

}

.tableHeading{
	color:steelblue;
	font-family:"Poppins", sans-serif;
}

.torrentFile{
	color:lightcyan;
}

.dtr-control{
	vertical-align:middle;
}

.dataTable{
	margin-left:0px;
}

.row{
	max-width:100%;
	margin-left:0px !important;
	margin-right:0px !important;
}

.col-sm-12{
	padding-left:0px;
	padding-right:0px;
}

table.dataTable tr.dtrg-group th{
	background-color:  darkslategray;
	background-color: #fcfce8;
	background-color:#e6e7b2;
	background-color:#ebdec7;
	background-color:goldenrod;
	background-color:lightcyan;
	background-color:#FFF3B4;

	font-family:"Maven Pro", sans-serif;
}


table.dataTable tr.dtrg-group th:not(:first-child){
	border-top:5px dotted mediumvioletred;

}

table.dataTable tr.dtrg-group th a:not(.torrentClasses a){
	font-family:"Poppins", sans-serif;
}

td p{
	color:palevioletred;
}

.torrentSource{
	position: relative;
	bottom: 0px;
	height: 175px;
	width: calc(100% - 113px);
	float: left;
	padding-left: 0;

}

#payment, #payWhatYouWant{
	width:33px;
}

.download_all{
	padding-left:8px;
	padding-top:8px;
	padding-bottom:17px;
}

.sourceType{
	position:absolute;
	bottom:5px;
	width:113px;
	z-index:2;
	font-variant:small-caps;
	font-size:28px;
	left:-113px;
	font-family:"Secular One", Arial;
	font-family:"Pirata One", sans-serif;
	color:#385E5C;/*#19e0e3;*/
	text-align:center;
	text-shadow:2px 2px palegoldenrod;
;
}

.dataTables_wrapper{
	padding: 0px 8px 21px 8px;
}

.dtrg-group{
	height: 78px;
}

.seeAllField{
  	display: none;
}

.tableHeading{
	position: relative;
	float: left;
	height: 55px;
	padding: 11px 11px 2px 11px;
	top: 8px;
	width: 100%;
}

.dataTable{
	font-family: "Maven Pro", serif;
	color:palevioletred;
}

td{
	border-collapse:collapse;
}

.dataTable a {
	font-family:  "Maven Pro", "Times New Roman";
	color:darkgoldenrod;
}

.dataTable td, .dataTable td a{
	font-family:"Pirata One", sans-serif;
}

.dataTable td{
	font-family:"Poppins", sans-serif;
	color:#385E5C;
}

.tableHeading a, .tableHeading a:visited{
	color:goldenrod;
}


.torrentClasses a, .torrentClasses a:visited{
	font-family:"Roboto", sans-serif;
	font-style:italic;
	color:/*#19e0e3;*/#385E5C;
}

.tableHeading{
	font-size: 19px;
}



.dataTables_scrollBody{
	height: 555px;
}

.tableImg{
	width: 113px;
	float: left;
	height: 175px;
}

.dtr-control{
	padding-left: 55px;
}

.torrentClasses{
	float: left;
	position: relative;
	padding: 2px 11px 3px 11px;
	font-size: 14px;
	width:100%;
}

/* HEADER SILOS */

.buoys{
	margin-top: 5px;
}

.buoy_select{
	width: 238px;
	height: 33px;
	display: none;
	font-family: "Pirata One", sans-serif;
	font-size: 18px;
	font-weight:bold;
	background-color:black;
	border-top-right-radius: 37px;
	border-bottom-right-radius:34px;
	color:white;
}

.buoy_select option{
	font-size:16px;	
}

/*HEADER TABS */

.tabs{
	position: absolute;
	top: 108px;
	left: 0;
	font-size: 32px;
	font-variant: small-caps;
}

.tabs li{
	padding-right: 18px;
}


.panel{
	position: relative;
	top:72px;
	right: 0px;
	float: right;
	font-size: 16px;
	/*z-index: 1;*/
}

/* HEADER SEARCH */

.search{
	position: absolute;
	top: 136px;
	left: 8px;

}

.search input{
	border-radius: 5px 5px 6px;
	margin: 8px 8px 8px 0px;
	background-color:#FBFBF6;
}

.search input::placeholder{
  color:silver;
}

.tabs .searchField{
	margin-left: 10px;
	width: 235px;
	height: 16px;
}

.ui-front{
	z-index: 999;
	width: 235px;
}

.autosuggestBox{
	display: none;
	width: 243px;
	height: 300px;
	position: absolute;
	z-index: 2;
	overflow: auto;
	background-color: red;
	box-shadow: 2px 2px 2px lightcyan;
}

.autosuggestBox li{
	display: block;
	clear: left;
	float: left;
	padding: 3px;
	font-size: 14px;
}

body .ui-autocomplete {
  /* font-family to all */
  background-color:red;
  box-shadow:3px 5px 7px lightcyan;
}

.ui-autocomplete{
	max-height:200px;
	overflow-y:auto;
}


.panel ul, .tabs ul, #search_ul{
	margin-top: 0px;
}

.panel li, .tabs li, #search_ul li{
	float: left;
	padding: 0px;
}

.panel li:not(.health){
	padding: 0px 13px 0px 13px;
}

.tabs li{
	padding-right:18px;
}

#desktop_health{
	position:fixed;
	top:24px;
	right:13px;
}

.autosuggestBox a{
	color: coral;
}

.autosuggestBox a:visited{
	color: coral;
}

/* CLASS */

#source_uuid{
	margin: 0 0 7px 0px;
}

/* TOP 10 */

h3{
	font-size: 45px;
	padding-left: 8px;
	padding-bottom: 16px;
}

/* SOURCE */


.italics{
	font-style:italic;
}


/* GRAPH */


.a-enter-vr-button{
	left: 0;
	bottom: 0px;
	position: fixed;
}

#3d-graph{
	position: fixed;
	top:237px;
	height:calc(100% - 173px);
	bottom: 0px;
	z-index: 998;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}

svg{
	width: 100%;
	position: relative;
	top: 0px;
	bottom: 0px;
}

.thesis_color{
	color:green;
}

.antithesis_color{
	color:red;
}

.synthesis_color{
	color:yellow;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }

#worldSpirit text, #source_spirit text{
    font-size:16px;;
    font-family:"Pirata One", sans-serif;
}

.text_opaque{

    opacity:.23;
    z-index:-1;
    position:relative
}


/*div.world_spirit{
   display: flex;
   align-items: center;
}*/

#worldSpirit{
	position:fixed;
	top:173px;
	height:calc(100% - 173px);
	width:100%;
}

#overWorld, #src_overWorld{
    display:none;
    height:78%;
    width:88%;
    background-color:#f7f6e6;
    padding-left:13px;
    padding-right:13px;
    padding-top:22px;
    padding-bottom:22px;
    position:relative;
    z-index:956;
    margin:0 auto;
}

.user_dialectic{
	font-family:"Pirata Sans", sans-serif;
}

#src_close_overworld{
	position:relative;
}

.nodes{
    font-family:"Pirata One", sans-serif;
}

#dialectic_submit, #new_aphorism, #fresh_aphorism, #src_dialectic_submit, #src_new_aphorism, #src_fresh_aphorism{
    
    padding:20px;
}

#src_new_aphorism{
	margin-top:15px;
}

#close_overworld, #src_close_overworld{
    position:absolute;
    right:13px;
    z-index:977;
    top:7px;
    width:55px;
    height:55px;
    font-family:"Pirata One", sans-serif;
    background-color:palevioletred;
    box-shadow:1px 2px 4px goldenrod;
}

#fresh_aphorism{
    width:200px;
    font-size:18px;
    position:absolute;
    left:8px;
    top:75px;
    z-index:901;
}

 #src_fresh_aphorism{
 	width:200px;
    font-size:18px;
    position:relative;
    left:8px;
    top:0px;
    z-index:901;
 }


#worldSpiritHeader{
    top:0px;
    position:relative;
    padding-top:13px;
    left:8px;
    float:left;
}

#new_aphorism, #src_new_aphorism{
    width:266px;
    background-color:goldenrod;
    box-shadow:1px 2px 4px darkgoldenrod;
}

#oldOverWorld, #src_oldOverWorld{
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
}

#cite, #src_cite{
    width:100px;
}

#cite_source_span, #src_cite_source_span{
    font-family:"Pirata One", sans-serif;
    font-weight:bold;
}

.dialectic_input{
    width:90%;
}

#dialectic_sources, #src_dialectic_sources{
    width:calc(90% - 160px);
}

#aphorism_classes a, #src_aphorism_classes a{
    color:#385E5C;
}

#newOverWorld, #src_newOverWorld{
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    overflow-y:auto;
}

#src_overWorld{
	position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
	z-index:9999;
}

#cite_pages, #src_cite_pages{
    width:60px;
}

.dialectic_citations li a{
    color:lightseagreen;
    font-family:"Pirata One", sans-serif;
    font-size:18px;
}

.search_dialectic_classes_input, .src_search_dialectic_classes_input{
    width:90%;
}

.stats span{
	margin-left:8px;
}

.stats_bold{
	color:steelblue;
	float:left;
	font-weight:bold;
	width:100px;
	display:block;
	font-family:"Pirata One", sans-serif;
	font-size:20px;
}

#paranoia{
	margin-left:8px;
}

.stats_span{
	color:palevioletred;
	float:left;
	font-family:"Poppins", sans-serif;
	font-size:20px;
}

#aphorism_title, #src_aphorism_title{
    width:90%;
    padding:8px;
    padding-top:0px;
    margin-top:7px;
    padding-left:0px;
    font-variant:normal;
    font-family:"Pirata One", sans-serif;
}

#aphorism_text, #src_aphorism_text{
    font-family:"Pirata One", sans-serif;
    margin-top:45px;
    width:90%;
    height:450px;
    
}
#dialectic_title, #src_dialectic_title{
    width:90%;
    height:33px;
}

#dialectic_text, #src_dialectic_text{
    width:90%;
    margin:0 auto;
    margin-top:16px;
    height:450px;
}

#newOverWorld, #src_newOverWorld{
    display:none;
}


#worldSpirit{

    z-index:900;
    left:0;
}


/* USER */

#buoys_h2{
	display: none;
}

#invites_h2{
	display: none;
}

.errors_msg{
	color: red;
}

.pos_msg{
	color: palevioletred;
}

.buoys li{
	display: block;
	float: left;
	clear: left;
}

.torrentsTable{
	overflow-x:auto;
	color:darkslateblue;
}

.torrentsTable td, .torrentsTable th{
	padding: 17px;
	color:darkslateblue;
}

#class_info{
	color:darkolivegreen;
}

.torrentsTable th{
	font-family:"Pirata One", serif;
	color:darkolivegreen;
}

.torrentsTable a, torrentsTable a:visited{
	color:darkcyan;
}



a.link a.visited{
	color: cyan;
}




/* ST_GEORGE */

#st_george_header{
	background-color: cyan;
	height: 30px;
	position: fixed;
	right: 0;
	bottom: 312px;
	width: 240px;
	box-shadow: -3px -3px 2px 0 goldenrod;
	text-align: right;
	overflow_hidden;
	opacity: .7;
	font-family:  "Maven Pro", serif;
	z-index: 9998;
	border-top-left-radius: 13px;
}


#st_george input, #st_george button{
	height: 60px;
}

#st_george{
	position: fixed;
	right: 0;
	bottom: 0px;
	opacity: .8;
	height: 312px;
	box-shadow: -3px -3px 2px 0 palegoldenrod;
	width: 240px;
	z-index: 9998;
}

#st_george p{
	font-family : "Imperial Script", sans-serif;
	height: 279px;
	width: 240px;
	position: absolute;
	bottom: 33px;
	background-color: lightcyan;
	
	overflow-y: auto;
	font-size: 20px;
}

#st_george a{
	position: relative;
	z-index: 9999;
}

#st_george_hide{
	position: relative;
	right: 0px;
	font-size: 18px;
	padding: 13px;
	z-index: 9998;
}

#st_george_show{
	position: relative;
	right: 0px;	
	font-size: 18px;
	padding: 13px;
	z-index: 9998;
}


#st_george button{
	width: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
}

#st_george input{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 190px;
}

#st_george img{
	width: 206px;
	height: 188px;
	position: absolute;
	left: 17px;
	bottom: 94px;
	z-index: 800;
	opacity: .3;
}

.ANCHOR_partial{
  background-color:white;

  
  }

.mobile_title, .mobile_menu{
	display:none;
}

.upload .titleBreak span{
	width:100%;
	padding-left:8px;
	display:block;
}

#home{
	padding-left:8px;
	padding-top:0px;
	font-size:22px;
	color:palevioletred;
	width:100%;
}

.adv_search{
	width:1080px;
	height:478px;
	margin-left:8px;
	margin-bottom:33px;
	text-align:center;
	border: 5px dotted #DEDEDE;
	border-radius:18px;
	margin:0 auto;
}

.graph_search{
	z-index:9998;
	height:479px;
	width:290px;
	text-align:center;
	border: 5px dotted darkcyan;
	border-radius:18px;
	position:fixed;
	right:8px;
	margin-top:13px;
}

.adv_class, .graph_class{
	width:33px;
}

.adv_search input:not(.adv_class), .graph_search input:not(.graph_class){
	width:280px;
	margin-top:13px;
	background-color:white;
	color:lightseagreen;
	
}

.adv_search select, .graph_search select{
	margin-top:8px;

}

.graph_class{
	color:palevioletred;
}


#adv_submit, #graph_submit{
	margin-top:28px;
}

#adv_heading, #graph_heading{
	font-family: "Pirata One", sans-serif;
	font-size:32px;
	text-align:center;
	color:darkcyan;
	text-shadow:1px 2px lightgoldenrodyellow;
	margin:20px 0px 20px 0px;
}

#graph_heading{
	color:mediumvioletred;
}

.health a, .health a:visited{
	font-size:16px;
	font-family: "Pirata One", sans-serif;	
		color:silver;
}

.buoy_bulletins span{
	padding-bottom:26px;
}

.buoy_bulletins span a{
	color:darkcyan;
}

.buoy_bulletins p{
	padding-top:24px;
}

.health span{
	font-size:16px;
	font-weight:bold;
	font-family: "Pirata One", sans-serif;
	color:#19e0e3;
	color:lightgoldenrodyellow;
	color:palegoldenrod;

	text-shadow:1px 1px silver;
}

#home a{
	color:darkcyan;
}

#addFormat, .recommend{
		border-radius:16px;
		margin-bottom:40px;
		width:250px;

	}

#about_us{
  padding-left:8px;
  padding-right:8px;
  text-justify:justified;
  font-size:20px;
  font-family:"Poppins", sans-serif;
}

  header{
    box-shadow:5px 4px 3px darkslateblue;
  }

  .red, .red:visited{
	color:red;
}

.orange, .orange:visited{
	color:orange;
}

.green, .green:visited{
	color:green;
}

.bold{
	font-weight:bold;
}

.underline{
	text-decoration:underline;
}
/* MOBILE */

@media only screen and (max-width: 1079px) {
	#logo{
		top:4px;
		left:-3px;
	}

	h1{
		font-size:32px;
		left:140px;
	}

	.upload .titleBreak span{
		width:300px;
	}

	#home{
		width:300px;
	}

	.dtr-control{
		width:200px;
	}

	.ANCHOR_partial{
		overflow-x:auto;
	}

	.titleBreak{
		padding:20px 0px 20px 0px;
		width:100%;
	}

	.torrentClasses{
		top:0px;
		font-size:11px;
	}

	#addFormat, .recommend{
		padding:7px;
	}


	.row:last-child{
		width:93.5%;
	}

	#graph{
		top:55px;
		position:fixed;
		height:calc(100% - 55px);
		bottom:0;
	}

	#3d-graph{
		bottom:0;
	}

	h3{
		padding-top:40px;
		font-size:24px;
		font-weight:bold;
	}

	.sorting{
		font-size:18px;
	}

	header{
		height:55px;
		box-shadow:0;
    
	}

	.mobile_h1{
		display:block;
		padding:0px;
		position:fixed;
		left:50px;
	}

  
  .dataTable{
	  font-family: "Secular One", serif;
	  color:lightseagreen;
    font-size:12px;
  }
  
	#fresh_aphorism{
    width:200px;
    font-size:18px;
    position:relative;
    left:20px;
    top:6px;
	}

	#worldSpiritHeader{
    top:0px;
    position:relative;
    padding-top:13px;
    left:8px;
    width:100px;
    float:left;
	}

	#worldSpirit{
		
	}

	.health a, .health span{
		font-size:24px;
	}
  

	#LOGOS{
		left:50px;
		top:41px;
		font-size:9px;
	}

	#overlay{
		top:55px;
		height:calc(100% - 55px);
	}

	.ANCHOR_partial{
		top:55px;
		height:calc(100% - 55px);
	}

	.desktop_1{
		display:none;
	}
  
	#mobile_menu{
		display:block;
		position:absolute;
		font-size:55px;
		width:49px;
		height:49px;
		color:lightgoldenrodyellow;
		top:0px;
		left:6px;
		z-index:9998;
	}

	#mobile_menu:hover{
		color:silver;
	}

	.mobile_menu{
		overflow-y:auto;
		overflow-x:hidden;
		width:100%;
		height:100%;
		position:fixed;
		top:0px;
		z-index:9998;
		bottom:0px;
		background-color:darkgoldenrod;
	}




	.mobile_buoy_div{
		margin-left:6px;
		display:block;
		position:relative;
		top:5px;
		left:200px;
		width:100%;
		z-index:9999;
	}

	.buoy_select{
		font-size:24px;
		height:40px;
		width:260px;
	}

	h1{
		position:fixed;
		top:3px;
		left:8px;
		z-index:9999;
	}

	.desktop_h1{
		display:none;
	}

	.desktop_search{
		display:none;
	}

	.search{
		position:relative;
		top:55px;
		float:left;
		left:8px;
		width:100%;
	}

	.search input{
		width:299px;

	}

	#worldSpirit{
		top:55px;
		height:calc(100% - 55px);
	}

	.mobile_panel{
		float:left;
	}

	#search_ul li{
		height:45px;
		float:none;
		vertical-align:center;
		line-height:45px;
		margin-top:7px;
		margin-bottom:8px;
	}


	#slogan{
		position:fixed;
		top:28px;
		left:200px;
		color:coral;
	}

	.buoy_select{
		width:299px;
		margin-top:13px;
	}

	.panel, .tabs{
		display:none;
	}

	.mobile_title{
		display:block;
		width:100%;
		height:55px;
		top:0px;
		background-color:#0c1337;
		background-color:#3D8777;
		background-color:lightseagreen;
		background-color:#137577;
		box-shadow: 7px 8px 13px lightsteelblue;
		position:fixed;
		z-index:9999;

	}

	.graph_search{
		width:100%;
		height:calc(100% - 55px);
		margin:0 auto;
		position:fixed;
		right:0px;
		z-index:9997;
		padding:8px;
	}

	.graph_mobile{
		font-family: "Pirata One", sans-serif;
		font-size:32px;
		text-align:center;
		color:darkcyan;
		position:fixed;
		z-index:9998;
		color:mediumvioletred;
		text-shadow:1px 2px lightgoldenrodyellow;
		margin:20px 0px 20px 32px;
	}

	.graph_toggle{
		font-weight:bold;
		font-family:"Pirata One", sans-serif;
		font-size:55px;
		color:cyan;
		padding-top:7px;
		position:fixed;
		z-index:9998;
	}

	.graph_toggle:visited{
		color:cyan;
	}
	

	.mobile_tabs{
		margin-top:32px;
		margin-left:8px;
		width:100%;
		float:left;
	}

	.mobile_panel{
		margin-top:26px;
		margin-left:8px;
		width:100%;

		float:left;
	}

	.mobile_tabs li{
		margin:16px 0 17px 0;
	}
	 .mobile_panel li{
	 	margin:16px 0 0px 0;
	 }

	 h2{
	 	text-shadow:2px 2px lightseagreen;
	 }

  .mobile_panel li a:not(.health a, .health span){
  		font-size:23px;
  		padding:13px 0px 13px 0px;
  		margin:15px 0px 15px 0px;
  		color:lightgoldenrodyellow;
		text-shadow:1px 1px darkgoldenrod;
		font-family:"Pirata One", sans-serif;
  }

  .health a, .health span{
  		padding:13px 0px 13px 0px;
  		margin:15px 0px 15px 0px;
  		font-size:16px;
  		
  }

  .mobile_tabs li a{
  		font-size:38px;
  		padding:13px 0px 13px 0px;
      border-bottom:1px solid #CDCDCD;
  		color:palegoldenrod;
    display:block;
    width:299px;
		text-shadow:1px 4px coral;
  }
	.mobile_tabs li, .mobile_panel li{
		height:40px;
		line_height:40px;
	} 

	.health a{
		color:palegoldenrod;
	}

	.health span{
		color:silver;
		text-shadow:1px 1px palevioletred;
	}

	

	#search_ul{
		margin-bottom:32px;
	}

  /* MISC PARTIALS */

  #invites li{
  	display: block;
  }

  .flagler{
  	position: fixed;
  	bottom: 0px;
  	height: 6px;
  	width: 100%;
  	z-index: 999;
  }

  h2{
  	font-size: 40px;
  	padding: 16px 8px 16px 8px;

  }



  input{
  	font-size: 16px;
  }

  /* TORRENT */


  #links{
  	position: relative;
  	z-index: 999;
  }

  /* HEADER */

  .panel{
  	position: absolute;
  	left: 0px;
  	top: 127px;
  }
  
  .mobile_panel li{
  }

  .mobile_panel li a:not(.health a){
    display:block;
    width:290px;
    padding:16px;
    padding-left:0px;
    border-bottom:1px solid #CDCDCD
  }

  #upload_inst{
  	width:290px;
  }
  
  .health a, .health span{
    float:left;
    border-bottom:0px;
  }
  
  .mobile_tabs li{
    
  	padding-top: 16px;
    padding-bottom:16px;
  }

  /* TABLES */

 
.dataTables_wrapper{
	padding: 0px 8px 21px 8px;
}


  .tableHeading{
  	font-size: 13px;
  }

  header{
    box-shadow:5px 4px 3px darkslateblue;
  }

  /* UPLOAD */
  .grid_1{
  	width: 100%;
  }  

  .adv_search{
  	width:292px;
  }
  
  .mobile_h1{
    left:83px;
  }
  
  #stupa{
    top:2px;
    display:block;
    z-index:9999;
    width:26px;
    left:50px;
    position:fixed;
    padding-left:0px;
  }

 

}